/*.deviceDiv{
  width: 100% !important;
  overflow: hidden;
  /*background-color: black;
}

.first {
  width: 20%;
  float:left;
}

.second {
  width: 60%;
  overflow: hidden;
}

.third {
  width: 20%;
  overflow: hidden;
}**/

.deviceDiv {
  display: flex;
  align-items: center;
  align-content: center;
}

.first {
  flex: 1; /*grow*/
}

.second {
  text-align: center;
  flex: 3; /*grow*/
}

.third {
  flex: 2; /*grow*/
}

