/*.deviceDiv{
  width: 100% !important;
  overflow: hidden;
  /*background-color: black;
}

.first {
  width: 20%;
  float:left;
}

.second {
  width: 60%;
  overflow: hidden;
}

.third {
  width: 20%;
  overflow: hidden;
}**/

.deviceDiv {
  display: flex;
}

.deviceDiv > div {
  flex: 1; /*grow*/
}

