<div style="height: 100%; display:flex; flex-direction:column;" class="mat-typography">
  <app-page-header style="height: 5%" pageTitle='Device detail'></app-page-header>

  <div class="main-div">
      <form class="example-container" (ngSubmit)="saveChanges()" [formGroup]="deviceFormControl" autocomplete="off">
    <mat-card class="example-card mat-elevation-z4" *ngIf="selectedDevice" flex="50">
      <img mat-card-image src="http://www.elmundo.com/images/ediciones/Domingo_26_7_2015/Domingo_26_7_2015@@gtranvia.jpg">
      <mat-card-content>
          <table cellspacing="10" class="example-form">
            <tr>
              <td>
                <mat-form-field class="example-form-input">
                  <input matInput placeholder="Name"  [(ngModel)]="selectedDevice.name" name="Name" formControlName="name"  maxlength="20"
                  [errorStateMatcher]="confirmValidParentMatcher"/>
                  <mat-hint align="start"><strong>Type a name according to the device type</strong> </mat-hint>
                  <mat-hint align="end">{{selectedDevice.name.length}} / 20</mat-hint>
                  <mat-error *ngIf="deviceFormControl.hasError('required', 'name')">
                    Name is
                    <strong>required</strong>
                  </mat-error>
                  <mat-error *ngIf="deviceFormControl.hasError('minlength', 'name')">
                    Name must be at least
                    <strong>3 characters</strong> long.
                  </mat-error>
                  <mat-error *ngIf="deviceFormControl.hasError('maxlength', 'name')">
                    Name can be max
                    <strong>20 characters</strong> long.
                  </mat-error>
                  <mat-error *ngIf="deviceFormControl.hasError('forbidenNameValidator')">
                     Name must be given according to the selected <strong>device type</strong>
                  </mat-error>
                  <mat-error *ngIf="deviceFormControl.hasError('validateNameNotTaken', 'name')">
                      The device name has already been taken
                   </mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-form-input">
                  <textarea matInput placeholder="Description" [(ngModel)]="selectedDevice.desc" name="Description" formControlName="description" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
                  <mat-error *ngIf="deviceFormControl.hasError('maxlength', 'description')">
                    Description can be max
                    <strong>50 characters</strong> long.
                  </mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-form-input">
                  <mat-select required placeholder="Device type" #deviceTypeSelect [(ngModel)]="selectedDevice.type" formControlName="type" required>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let deviceType of device_types_keys()" [value]="deviceType">{{deviceType}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="deviceTypeSelect.empty || deviceFormControl.hasError('required', 'type')">
                      Type is
                      <strong>required</strong>
                    </mat-error>
                </mat-form-field>
              </td>
            </tr>
          </table>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="!deviceFormControl.valid">Save</button>
        <button mat-raised-button color="primary" type="button" (click)="backClicked()">Back</button>
      </mat-card-actions>
    </mat-card>
  </form>
  </div>

</div>
