<div style="height: 100%;">
  <div style="height: 6%">
    <app-page-header pageTitle='About us'></app-page-header>
  </div>

  <div class="main-div">
    <mat-card class="example-card" flex="50">
      <mat-card-header>
      </mat-card-header>
      <mat-card-content>
        <div class="deviceDiv">
          <div class="first">
              <img style="width: 100%" src="https://angular.io/generated/images/marketing/home/responsive-framework.svg">
          </div>
          <div class="second mat-body-1">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fermentum dictum lacus ut molestie. Suspendisse pharetra rhoncus magna ac suscipit. Maecenas suscipit orci nec nisi porta, id facilisis dui mollis. Phasellus sit amet nulla lectus. Praesent dui lacus, suscipit sit amet porta sed, sagittis eget erat. Nunc volutpat, metus nec rutrum posuere, libero risus accumsan metus, vel posuere ex mi non orci. Cras et nibh volutpat urna vulputate placerat sed in lorem. Sed rutrum nibh sit amet ante pretium eleifend. Maecenas ac odio eget ex commodo posuere at nec neque. Phasellus elementum vehicula risus, sit amet varius tortor ornare gravida. Praesent eleifend consequat lacinia.</p>
          </div>
        </div>
        <p>
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card" flex="50">
      <mat-card-header>
      </mat-card-header>
      <mat-card-content>
          <div class="deviceDiv">
              <div class="first">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fermentum dictum lacus ut molestie. Suspendisse pharetra rhoncus magna ac suscipit. Maecenas suscipit orci nec nisi porta, id facilisis dui mollis. Phasellus sit amet nulla lectus. Praesent dui lacus, suscipit sit amet porta sed, sagittis eget erat. Nunc volutpat, metus nec rutrum posuere, libero risus accumsan metus, vel posuere ex mi non orci. Cras et nibh volutpat urna vulputate placerat sed in lorem. Sed rutrum nibh sit amet ante pretium eleifend. Maecenas ac odio eget ex commodo posuere at nec neque. Phasellus elementum vehicula risus, sit amet varius tortor ornare gravida. Praesent eleifend consequat lacinia.</p>
              </div>
              <div class="second mat-body-1">
                  <img style="width: 100%" src="https://ugc.kn3.net/i/origin/https://www.exa.unicen.edu.ar/sites/default/files/docker-logo.png">
              </div>
            </div>
      </mat-card-content>
    </mat-card>
  </div>




</div>
