

.example-header-image {
  background-image: url('https://visualstudiomagazine.com/articles/2014/06/12/~/media/ECG/visualstudiomagazine/Images/introimages2014/docker.ashx');
  background-size: cover;
}

.main-div{
  justify-content: center;
  align-items: center;
  margin-top: 11px;
}

.example-card {
  width: 45%;
  margin: 40px auto;
}

.deviceDiv{
  width: 100% !important;
  /*background-color: black;*/
}

.first {
  width: 300px;
  float:left; /* add this */
}

.second {
  overflow: hidden; /* if you don't want #second to wrap below #first */
  vertical-align: middle;
}

